fastapi[uvicorn]
fastapi-restful
uvicorn

sentry-sdk[fastapi]
pymongo
typing_inspect
sharingiscaring
apprise
grpcio
grpcio-tools
grpclib
betterproto==2.0.0b5
sortedcontainers
aiohttp
pydantic==2.4.2
prometheus-fastapi-instrumentator
